<!-- Create form -->
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <!-- Email Area -->
    <fieldset id="email-field">
      {{ form.email.label }}
      {{ form.email(class = "form-control", placeholder = "Enter email") }}
    </fieldset>
    
    <!-- Password Area -->
    <fieldset id="pass-field">
      {{ form.password.label }}
      {{ form.password(class = "form-control", placeholder = "Create password") }}
    </fieldset>
    <br>
    <!-- Submit Area -->
    {{ form.submit_button(class = "btn btn-secondary") }}
  </div>
</form>